.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Walls_Logo_Social.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  width: 540px;
  margin: 93px auto 0;
}

.u-section-1 .u-text-2 {
  width: 836px;
  margin: 13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -289px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -274px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -202px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 478px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 10px 20px 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 200px;
  width: 670px;
  margin: 94px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 737px;
}

.u-section-3 .u-tabs-1 {
  min-height: 637px;
  margin: 60px auto 40px 0;
}

.u-section-3 .u-tab-link-1 {
  background-image: none;
  text-transform: uppercase;
}

.u-section-3 .u-tab-item-2 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-2 {
  background-image: none;
  text-transform: uppercase;
}

.u-section-3 .u-tab-item-3 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-3 {
  background-image: none;
  text-transform: uppercase;
}

.u-section-3 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  background-image: none;
  text-transform: uppercase;
}

.u-section-3 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-5 {
  background-image: none;
  text-transform: uppercase;
}

.u-section-3 .u-tab-link-6 {
  background-image: none;
  text-transform: uppercase;
}

.u-section-3 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 500px;
  height: 281px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: -215px 0 0 605px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -166px 20px 0 645px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 189px;
  margin: 264px 578px 0 -2px;
}

.u-section-3 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 32px 31px 0 634px;
}

.u-section-3 .u-image-2 {
  width: 500px;
  height: 281px;
  margin: -36px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: -215px 51px 0 612px;
}

.u-section-3 .u-custom-html-2 {
  min-height: 189px;
  margin: 47px 578px 0 -2px;
}

.u-section-3 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/5e7ca830eeba5de80db77df58ee9685b2b0c6eca34427c7ac84e1947ed0ba1870603de7c9c78b19f57da446881a68634d6bd84d2af3ce3feb3583f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/5e7ca830eeba5de80db77df58ee9685b2b0c6eca34427c7ac84e1947ed0ba1870603de7c9c78b19f57da446881a68634d6bd84d2af3ce3feb3583f_1280.jpg");
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/5e7ca830eeba5de80db77df58ee9685b2b0c6eca34427c7ac84e1947ed0ba1870603de7c9c78b19f57da446881a68634d6bd84d2af3ce3feb3583f_1280.jpg");
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/5e7ca830eeba5de80db77df58ee9685b2b0c6eca34427c7ac84e1947ed0ba1870603de7c9c78b19f57da446881a68634d6bd84d2af3ce3feb3583f_1280.jpg");
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-3 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 465px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-right: 376px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 465px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 464px;
  }

  .u-section-3 .u-custom-html-2 {
    height: auto;
    margin-right: 376px;
    margin-bottom: -10px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 723px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 245px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 156px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 245px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 245px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-left: 245px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 156px;
    margin-bottom: -85px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 1014px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 45px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 105px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 16px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 105px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 105px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 105px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 16px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-3 .u-image-1 {
    height: 180px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -364px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 468px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -9px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 180px;
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-2 {
    width: 320px;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: -15px;
  }
}